/node_modules
/dist
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public/projects/*
!/storage/app/public/.gitignore
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/vendor
.env
.env.dev
.env.prod
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
/.vscode
/.idea
/.codex
/.cursor
